body
{
  margin: 0;
  background-color: lightgray;
  color: white;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card
{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 2.5rem;
  color: black;
  border-radius: 20px;
}
